{
    "semi": false,
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "trailingComma": "all",
    "printWidth": 200,
    "plugins": ["prettier-plugin-tailwindcss"]
}
